/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
::after {
  box-sizing: border-box;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  margin: 0;
  font-size: 1.3rem;
}

/* Begin CSS */

.title {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: black;
  margin: 1rem 0 0.25rem 0;
  text-align: center;
}

.slogan {
  font-size: 0.75rem;
  font-weight: 200;
  font-style: italic;
  margin-bottom: 1rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  flex-direction: column;
}

#options-container {
  justify-content: flex-start;
  height: 500px;
  width: 20%;
}

#drawing-board-container {
  display: grid;
  width: 500px;
  height: 500px;
  border: 2px solid black;
  background-color: white;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button {
  font-size: 0.75rem;
  background-color: white;
  border: 1px solid black;
  width: 98.5%;
  padding: 0.25em 0.75em;
  border-radius: 2.5px;
  margin: 0.15rem auto;
  transition: 0.2s all ease-in;
}

button:hover {
  background-color: #f3f3f3;
}

.button--selected {
  background-color: bisque;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.grid-item--nogrid {
  border: none;
}

.options {
  display: grid;
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: lightblue;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-template-areas:
    "tools tools"
    "pen eraser"
    "lighten shade"
    "bucket rainbow"
    "colors colors"
    "color-select bg-color-select"
    "color-palette color-palette"
    "settings settings"
    "clear grid-toggle"
    "save reserved"
    "slider slider"
    "grid-size grid-size";
}

/* Colors */
.colors {
  grid-area: colors;
  border-bottom: 1px solid black;
  margin: 0.5rem 0;
}

.color-select {
  margin: 0 0.25rem;
  display: flex;
  justify-content: center;
  grid-area: color-select;
}

.bg-color-select {
  display: flex;
  justify-content: center;
  grid-area: bg-color-select;
}

.color-palette {
  grid-area: color-palette;
}

.color-palette-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0.5rem 0;
}

.color-palette-option {
  margin: 0.05rem;
  min-height: 20px;
  border: 1px solid black;
}

/* Tools */
.tools {
  grid-area: tools;
  border-bottom: 1px solid black;
  margin: 0.5rem 0;
}

.brush {
  grid-area: pen;
}

.eraser {
  grid-area: eraser;
}

.lighten {
  grid-area: lighten;
}

.shade {
  grid-area: shade;
}

.bucket {
  grid-area: bucket;
}

.rainbow {
  grid-area: rainbow;
}

/* Settings */
.settings {
  grid-area: settings;
  border-bottom: 1px solid black;
  margin: 0.5rem 0;
}

.clear {
  grid-area: clear;
}

.grid-toggle {
  grid-area: grid-toggle;
}

.save {
  grid-area: save;
}

.reserved {
  grid-area: reserved;
}

.slider {
  font-size: 0.65rem;
  grid-area: slider;
}

.grid-size {
  font-size: 0.75rem;
  grid-area: grid-size;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    width: 100%;
  }

  #options-container {
    width: auto;
    height: 100%;
  }

  .options {
    width: 500px;
    padding: 0.5rem;
    display: grid;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 0;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 0rem;
    grid-auto-flow: row;
    grid-template-areas:
      "tools tools tools colors colors colors settings settings settings"
      "pen lighten rainbow color-select color-palette color-palette clear grid-toggle save"
      "eraser shade bucket bg-color-select color-palette color-palette slider slider slider";
    /* grid-template-areas:
      "tools tools"
      "pen eraser"
      "lighten shade"
      "bucket rainbow"
      "colors colors"
      "color-select bg-color-select"
      "color-palette color-palette"
      "settings settings"
      "clear grid-toggle"
      "save reserved"
      "slider slider"
      "grid-size grid-size";
  } */
  }

  .color-palette-container {
    display: grid;
    grid-template-columns: repeat(3, 25px);
    grid-template-rows: 4;
    margin: 0;
  }
}
