*,
*::before,
::after {
  box-sizing: border-box;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
  background-color: white;
  margin: 0;
  font-size: 1.3rem;
}

h1 {
  color: black;
  margin: 1rem;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
}

.options {
  flex-direction: column;
  justify-content: center;
}

button {
  font-size: 1rem;
  background-color: white;
  border: 1px solid black;
  width: 80%;
  padding: 0.5em 0.75em;
  border-radius: 5px;
  margin: 0.5rem auto;
  transition: 0.2s all ease-in;
}

button:hover {
  transform: scale(105%);
}

.center {
  justify-content: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

aside {
  background-color: lightslategray;
  padding: 1rem;
  width: 25%;
}

section {
  padding: 2rem;
  width: 50%;
  background-color: lightslategray;
  border-left: 2px solid black;
}

#drawingBoard {
  display: grid;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  background-color: white;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.grid-item--nogrid {
  border: none;
}
